<div class="w-screen flex justify-start items-center gap-2 px-4 h-[48px]">
  <div>
    <img src="logo1.svg" alt="" />
  </div>
  <div>
    <div class="text-base font-semibold">
      ExplainMy<span class="text-[#F5702F]">Incident</span>
    </div>
    <div class="text-xs">
      <!-- Understand noisy<span class="text-[#329253]"> application logs</span> quickly. -->
      Understand what actually <span class="text-[#329253]">happened</span> and
      how to <span class="text-[#329253]">explain</span>.
    </div>
  </div>
</div>
<div class="h-[calc(100vh-48px)] w-screen flex flex-col lg:flex-row">
  <div class="w-full lg:w-1/2 border-r p-4">
    <app-incident-input
      (submitIncident)="onSubmit($event)"
      [isLoading]="loading"
    ></app-incident-input>
  </div>
  <div class="w-full lg:w-1/2 border-r p-4">
    <app-incident-output
      [error]="error"
      [isLoading]="loading"
      [result]="result"
    ></app-incident-output>
  </div>
</div>