<div class="w-full h-full flex flex-col">
  <div class="flex justify-between gap-2 px-4 py-2 bg-gray-200 rounded-t-lg">
    <div class="flex justify-start items-center gap-2">
      <div class="hidden lg:block">Select Context:</div>
      <div class="relative w-56 context-select">
        <button
          type="button"
          class="w-full rounded-md bg-white py-2 pl-3 pr-10 text-left text-sm shadow-sm ring-1 ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-600"
          (click)="toggle()"
        >
          <span class="block truncate">{{ selectedContext }}</span>
          <span
            class="absolute inset-y-0 right-0 flex items-center pr-2 text-gray-400"
          >
            ▼
          </span>
        </button>

        <ul
          *ngIf="isOpen"
          class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-sm shadow-lg ring-1 ring-black/5"
        >
          <li
            *ngFor="let fw of contexts"
            (click)="selectContext(fw)"
            class="cursor-pointer px-3 py-2 hover:bg-indigo-600 hover:text-white"
            [class.font-semibold]="fw === selectedContext"
          >
            {{ fw }}
          </li>
        </ul>
      </div>
    </div>
    <button
      (click)="onSubmit()"
      [disabled]="!incidentText.trim() || isLoading || !isValid"
      class="px-4 rounded-l-full rounded-r-full text-sm bg-blue-600 text-white disabled:bg-blue-300"
    >
      Explain Incident
    </button>
  </div>
  @if (!isValid && incidentText) {
  <div class="text-xs text-red-500 py-2 text-right">
    Data exceeds limit(>10k chars)
  </div>
  }
  <textarea
    [disabled]="isLoading"
    rows="10"
    class="w-full outline-none p-4 font-mono text-sm border"
    placeholder="Enter the incident description here..."
    [(ngModel)]="incidentText"
  ></textarea>
  <div class="flex justify-start gap-4 w-full py-2">
    <div class="">Optional Data:</div>
    <div class="">
      <input
        type="checkbox"
        [(ngModel)]="showLogsText"
        class="p-1 cursor-pointer"
        name="showLogsText"
        id="showLogsText"
      />
      <label for="showLogsText" class="pl-2 cursor-pointer">Logs</label>
    </div>
    <div class="">
      <input
        type="checkbox"
        [(ngModel)]="showErrorText"
        class="p-1 cursor-pointer"
        name="showErrorText"
        id="showErrorText"
      />
      <label for="showErrorText" class="pl-2 cursor-pointer">Errors</label>
    </div>
    <div class="">
      <input
        type="checkbox"
        [(ngModel)]="showChangesText"
        class="p-1 cursor-pointer"
        name="showChangesText"
        id="showChangesText"
      />
      <label for="showChangesText" class="pl-2 cursor-pointer">Recent Changes</label>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row lg:justify-evenly h-full gap-2">
    @if (showLogsText) {
    <textarea
      [disabled]="isLoading"
      rows="10"
      class="w-full lg:h-full outline-none p-4 font-mono text-sm border rounded-b-lg"
      placeholder="Enter the log details here..."
      [(ngModel)]="logsText"
    ></textarea>
    } @if (showErrorText) {
    <textarea
      [disabled]="isLoading"
      rows="10"
      class="w-full lg:h-full outline-none p-4 font-mono text-sm border rounded-b-lg"
      placeholder="Enter the error details here..."
      [(ngModel)]="errorsText"
    ></textarea>
    } @if (showChangesText) {
    <textarea
      [disabled]="isLoading"
      rows="10"
      class="w-full lg:h-full outline-none p-4 font-mono text-sm border rounded-b-lg"
      placeholder="Enter the change details here..."
      [(ngModel)]="recentChangesText"
    ></textarea>
    }
  </div>
</div>
